* {margin:0; padding:0;}
@font-face {
    font-family: ProximaNova; /* имя шрифта для CSS правил */
    src: local("ProximaNova"), /* проверяем наличие шрифта в ОС пользователя */
         url(ProximaNova-Reg.otf); /* если шрифт не установлен, тогда загружаем его по указанному пути */
  }
html {}
body {font-family:"Tahoma";}
header, .content, main, footer {max-width:1280px; margin:0 auto; /*position:relative; */clear:both; padding:0 2%; /*min-width:1000px;*/}
img {	max-width: 100%;	width: auto \9;	height: auto;	vertical-align: middle;	border: 0;	-ms-interpolation-mode: bicubic;}
a {color:#7f7f7f; text-decoration:none;}
#logo {width:34.24027%;}
li {list-style: none;}
ul.topnav {float:right; width:12.816%; margin-bottom:2em;}
ul.topnav li {display:block; position:relative}
ul.topnav li a {font-size:0.875em; letter-spacing:0.3em; color:#7f7f7f; line-height:2em; text-decoration: none; padding:3px;}
ul.topnav li a:hover {background:#dedede;} 
ul.topnav ul {opacity:0; visibility:hidden; position:absolute; top: 0; right:147.681%;}
ul.topnav li ul li a {color:#000;}
ul.topnav > li:hover > ul {opacity:1; visibility:visible; } 
#btn-eshop {display:inline-block; position:absolute; margin-top: 5%; margin-left:3%; }
.slideshow {position:relative;}
.left-bl {float:left; width:53.828%; margin-right:8.691%; padding-top:5%;}
.left-bl-shop {    float: left;    margin-right: 2.691%; width: 59.828%;}
.right-bl {width:37.179%; float:right; padding-top:5%;}
footer { color:#7f7f7f; font-size:0.75em; padding-top:8.2525%; margin-bottom:4.1212%; padding-right:5%; text-align:right;}
footer img {margin:0 2% 0 0;}
.content .zag {text-transform:uppercase; color:#000; font-size:1.5em; margin-bottom:1em;}
.content .sub-zag {color:#7f7f7f; font-size:0.875em; margin-bottom:1.5em;}
.content p {color:#000; line-height:1.5em; font-size:0.875em; margin-bottom:1.5em;}
.cont-lbl {color:#7f7f7f; font-size:0.875em; margin-bottom:1.5em; margin-left:15%;}
.cont-data {color:#000; font-size:1.5em; margin-bottom:1.5em; margin-left:15%;}
.bx-wrapper {position:relative;}
.bx-viewport {float:right;}
.bx-viewport {margin-top:-100px; width:77.289% !important; float:right; margin-left:1%; position:relative; overflow:hidden;}
.bx-pager-item {margin:0 0 10% 0;}
.bx-pager-item a img {opacity:0.5;}
.bx-pager-item a.active img {opacity:1;}
.bx-controls {width:20.648%;}
.desc {float:right; width:46.289%;}
.kod, .mat, .description {font-size:0.875em; margin-bottom:3em;}
.kod, .mat {color:#7f7f7f;}
.description {color:#000;}
/*стили форм*/
input[type=text], textarea {display:block; color:#7f7f7f; font-size:0.875em; clear:both; width:80%;
border-top:0; border-left:0; border-right:0; border-bottom:1px solid #000; padding:2% 0; margin-bottom:1.5em;
font-family:"arial";}
input[type=submit] {width:40.5027%; border:1px solid #7f7f7f; color:#7f7f7f; background:#fff;
 padding:1%; text-transform:uppercase; letter-spacing:0.2em; }
textarea:-moz-placeholder, 
textarea::-webkit-input-placeholder,
input:-moz-placeholder, 
input::-webkit-input-placeholder {color:#7f7f7f; font-size:0.875em;}
input[type=submit]:hover {cursor:pointer;}
/** Glidejs styles **/
.slider {
	position: relative;
	width: 100%;
	/*height: 500px;*/
	overflow: hidden;
}
.slides {
  height: 100%;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
   -webkit-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
   -moz-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
   -ms-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
   -o-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
   transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
}
.slide {
  height: 100%;
  float: left;
  clear: none;
}
.slide figure {
  display: block;
  position: relative;
  text-align: center;
}
.slide figure figcaption {
position:absolute;  top:45%; left:42%; text-transform:uppercase; color:#fff; font-size:0.875em; letter-spacing:0.3em; border:1px solid #fff; padding:0.5% 1%;
}
.slide figure figcaption a {
  color: #fff;
  text-decoration: none;
}
.slide figure figcaption a:hover { text-decoration: underline; }
.slide figure img {/* max-height: 480px;*/}
.slider-arrow {
  position: absolute;
  display: block;
  margin-bottom: -20px;
  padding: 29px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.slider-arrow:hover {}
.slider-arrow--right,  .bx-next { bottom: 50%; right: 0px;  background: url('images/arr-right.png') no-repeat;}
.slider-arrow--left, .bx-prev { bottom: 50%; left: 30px; background: url('images/arr-left.png') no-repeat;}
.bx-prev {position:absolute; top:40%; left:26%; width:31px; z-index: 100000;}
.bx-next {position:absolute; top:40%; right:3%;  width:31px; z-index: 100000;}
.slider-nav {
  position: absolute;
  bottom: 0px;
}
.slider-nav__item {
  width: 12px;
  height: 12px;
  float: left;
  clear: none;
  display: block;
  margin: 0 5px;
  background: #fff;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
.slider-nav__item:hover { background: #bababa; }
.slider-nav__item--current, .slider-nav__item--current:hover { background: #999; }

/** responsive styles **/
@media screen and (max-width: 1050px) {
  #w { padding: 0 15px; }
  .slider-arrow { font-size: 1.8em; padding: 30px; }
} 
@media screen and (max-width: 650px) {
  h1 { font-size: 2.9em; }
}
@media screen and (max-width: 450px) {
  h1 { font-size: 2.1em; }
}